certifi
firebase_admin
folium
geopy
googletrans
ipython
Kivy
openpyxl
pandas
protobuf
PyPDF2
Requests
st_circular_progress
streamlit
tkcalendar
xmltodict
google-generativeai
pandas
streamlit-option-menu
geopy
face_recognition
dlib == 19.24.99
CMake
