certifi
firebase_admin
folium
geopy
googletrans
ipython
Kivy
openpyxl
pandas
protobuf
PyPDF2
Requests
st_circular_progress
streamlit
tkcalendar
xmltodict
google-generativeai
pandas
streamlit-option-menu
geopy
face_recognition
dlib = dlib-19.24.99-cp312-cp312-win_amd64
CMake
