
certifi
firebase_admin
folium
geopy
ipython
pandas
protobuf
PyPDF2
st_circular_progress
streamlit
tkcalendar
xmltodict
google-generativeai
streamlit-option-menu
streamlit-calendar
streamlit_carousel



